.container {
  margin: auto;
  padding: 20px 16px;
}

.title {
  font-size: 28px;
}

.content__text_tb {
  margin-top: 20px;
  display: block;
}

.content__info-text {
  height: 94px;
  overflow: hidden;
}

.nav {
  margin: 24px 0;
}

.application {
  display: flex;
  justify-content: space-between;
  border-left: 4px solid #41f6d7;
  padding: 0 15px;
  margin: 24px 0;
}

@media (min-width: 320px) {
  .container {
    max-width: 320px;
    width: 100%;
  }

  .services {
    display: none;
  }

  .img {
    width: 320px;
    height: 176px;
  }

  .nav {
    overflow-x: scroll;
    display: flex;
    gap: 20px;
    min-height: 50px;
    align-items: center;

    &__link {
      padding: 8px 16px;
      min-width: fit-content;
      border: 1px solid transparent;

      &:hover {
        border: 1px solid transparent;
        padding: 8px 16px;
        background-color: white;
        border-radius: 6px;
      }
    }
  }

  .content {
    display: block;
    max-width: 320px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .content-info {
    max-width: 768px;
    display: flex;
    justify-content: space-between;
  }

  .img {
    width: 360px;
    height: 208px;
  }

  .content {
    max-width: 768px;
    width: 100%;

    &__info {
      max-width: 312px;
      width: 100%;
    }
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1120px;
  }
  .img {
    width: 531px;
    height: 307px;
  }

  .content-info {
    max-width: 1120px;
  }

  .content {
    max-width: 1120px;

    &__info {
      max-width: 490px;
    }
  }

  .application {
    max-width: 1120px;
    width: 100%;
  }

  .services {
    display: flex;
    align-items: center;
    gap: 50px;

    &__item {
      display: flex;
      cursor: pointer;
      align-items: center;
      gap: 8px;
    }
  }
}
