.footer {
  padding: 16px;
  font-size: 14px;
}

@media (min-width: 320px) {
  .footer {
    max-width: 320px;
    width: 100%;
    display: block;
    text-align: center;

    p {
      margin: 16px 0;
      color: #7e7e82;
    }
  }
}

@media (min-width: 768px) {
  .footer {
    max-width: 768px;
    display: flex;
    justify-content: space-between;
    text-align: left;

    p {
      max-width: 200px;
    }
  }
}
