.header {
  max-width: 100vw;
  padding: 20px 16px;
}

.line {
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
}

@media (min-width: 320px) {
  .header {
    width: 320px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    &__logo {
      display: flex;
      align-items: center;
      gap: 15px;
    }

    &__icons_tb {
      display: none;
    }
  }

  .line_mb {
    display: none;
  }

  .line_tb {
    display: block;
  }

  .line_dt {
    display: none;
  }
}

@media (min-width: 768px) {
  .header {
    width: 768px;
    justify-content: space-between;

    &__icons_tb {
      float: right;
      display: flex;
      gap: 15px;
    }

    &__logo-block {
      display: flex;
      gap: 15px;
      align-items: center;
    }
  }

  .line_dt {
    display: block;
  }

  .line_tb {
    display: none;
  }

  .line_mb {
    display: block;
  }
}

@media (min-width: 1440px) {
  .header {
    display: none;
  }
}
