@media (min-width: 320px) {
  .info {
    max-width: 320px;
    padding: 16px;
    width: 100%;

    & > p {
      font-size: 14px;
      color: #7e7e82;
    }

    button {
      gap: 10px;
    }
  }
}

@media (min-width: 768px) {
  .info {
    max-width: 768px;
    width: 100%;

    & > p:first-child {
      width: 421px;
    }

    button {
      & > p:first-child {
        width: fit-content;
      }
    }
  }
}

@media (min-width: 1440px) {
  .info {
    max-width: 1120px;
  }
}
